<p id="notice"><%= notice %></p>

<div id="message">
  <div class="container clearfix">
      <div class="people-list" id="people-list">
        <div class="search">
          <input type="text" placeholder="search" />
          <i class="material-icons fa-search">search</i>
        </div>
        <ul class="list">
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">チンカス</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">カス</div>
              <div class="status">
                <i class="material-icons offline">fiber_manual_record</i> left 7 mins ago
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">キチガイ</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">アホ</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">クズ</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">ゴミ</div>
              <div class="status">
                <i class="material-icons offline">fiber_manual_record</i> left 30 mins ago
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">くそ</div>
              <div class="status">
                <i class="material-icons offline">fiber_manual_record</i> left 10 hours ago
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">ちんこ</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">鼻くそ</div>
              <div class="status">
                <i class="material-icons offline">fiber_manual_record</i> offline since Oct 28
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <img src="../assets/images/no_img.png" alt="avatar" />
            <div class="about">
              <div class="name">オナニー</div>
              <div class="status">
                <i class="material-icons online">fiber_manual_record</i> online
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <div id="message-in">
        <div class="message-header clearfix">
          <img src="../assets/images/no_img.png" alt="avatar" />
          
          <div id="message-about">
            <div id="message-with">オナニーとのメッセーギ</div>
            <div id="message-num">1902件のメッセージをやり取りしてるぜ</div>
          </div>
          <i class="material-icons fa-star">star_rate</i>
        </div> <!-- end chat-header -->
        
        <div id="message-history">
          <ul>
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-time" >10:10 AM, 今日</span> &nbsp; &nbsp;
                <span class="message-data-name" >オナニー</span> <i class="material-icons me">fiber_manual_record</i>
                
              </div>
              <div class="message other-message float-right">
                ちんぽ？
              </div>
            </li>
            
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="material-icons online">fiber_manual_record</i> げきしこ</span>
                <span class="message-data-time">10:12 AM, 今日</span>
              </div>
              <div class="message my-message">
                おまんまん
              </div>
            </li>
            
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-time" >10:14 AM, 今日</span> &nbsp; &nbsp;
                <span class="message-data-name" >オナニー</span> <i class="material-icons me">fiber_manual_record</i>
                
              </div>
              <div class="message other-message float-right">
                シコシコシコしこ
              </div>
            </li>
            
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="material-icons online">fiber_manual_record</i> げきしこ</span>
                <span class="message-data-time">10:20 AM, 今日</span>
              </div>
              <div class="message my-message">
                眠い
              </div>
            </li>
            
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="material-icons online">fiber_manual_record</i> げきしこ</span>
                <span class="message-data-time">10:31 AM, 今日</span>
              </div>
              <i class="material-icons online">fiber_manual_record</i>
              <i class="material-icons online" style="color: #AED2A6">fiber_manual_record</i>
              <i class="material-icons online" style="color:#DAE9DA">fiber_manual_record</i>
            </li>
            
          </ul>
          
        </div> <!-- end chat-history -->
        
        <div class="message-chat clearfix">
          <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                  
          <i class="material-icons">attach_file</i> &nbsp;&nbsp;&nbsp;
          <i class="material-icons">add_a_photo</i>
          
          <button id="send-btn" class="waves-effect waves-light btn">送信</button>
        </div> <!-- end chat-message -->
        
      </div> <!-- end chat -->
      
  </div> <!-- end container -->
</div>
