<h1>Editing Profile</h1>

<div id="edit-profile">
  <strong>Image:</strong>
  <%= image_tag @profile.image.url(:medium) %>
</div>
<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
