<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @reply.comment %>
</p>

<%= link_to 'Edit', edit_timeline_reply_path(@timeline, @reply) %> |
<%= link_to 'Back', timeline_replies_path %>
