// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e9ebee;
}

.header {
	width: 100%;
	background-color: #2fcdb4;

}

.post {
	margin: 0 auto;
	width: 400px;
	background-color: white;
	border-style: ridge;
	display: flex;
}

.post .new_timeline{
	margin: 0 auto;
}

body table tbody tr .timeline{
	border-style: ridge;
	padding: center;
}

textarea {
	width: 250px;
	height: 10em;
	margin: center;
}
#notice {
	display: none;
}

.timeline{
	border-style: ridge;
}
.timeline img {
	width: 100px;
	height: 100px;
<<<<<<< .merge_file_ZoxH0t

}
.reply {
	float: left;
}
.reply img {
	width: 50px;
	height: 50px;
	// float: left;
}

}
.reply {
	float: left;
}
=======
}
.reply {
	float: left;
}
>>>>>>> .merge_file_T6W49w
.reply img {
	width: 50px;
	height: 50px;
	// float: left;
}

<<<<<<< .merge_file_ZoxH0t

=======
>>>>>>> .merge_file_T6W49w
/* liking_users */
.liking_users img {
	width: 100px;
	height: 100px;
}

/*h1 {
	/*background-color: #2fcdb4;*/
/*	font-family:  "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
*/
